@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>On this page you will know everything you need on how to get ready for your exam</p>

<h2> To do list:</h2>
<ol>
    <li>Exam data collection (We have exam class, need to make a collection of these exams and display it somehow) </li>
    <li>Timer</li>
    <li>Exam data sort</li>
</ol>