@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h4>
    Welcome to XAM, where we're on a mission to make your academic journey as epic as a superhero adventure! 🚀 <br><br>

    We firmly believe that with superhero-level determination, the right support, and some academic superpowers,
    anyone can soar to excellence in their studies. <br><br>

    We get it – the pressure, the overwhelm, the occasional battle with anxiety and burnout. But fear not! Our
    mission is to equip you with the essential tools and the confidence boost you need to conquer any academic
    quest, no matter what goals or motivations drive you. With XAM, we're here to make you absolutely
    unstoppable in your pursuit of academic awesomeness! 💪
</h4>