@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>On this page you will know everything you need on how to get ready for your exam</p>

<h2> To do list:</h2>
<ol>
    <li> Deal with errors, so there are no pop-up's (when you dont enter a date and create an exam and others...) </li>
    <li> Fix pop-up's by highlighting the error (make the date red?...)</li>
    <li> Make a To Do list for the user </li>
    <li> Timer</li>
    <li> Timer</li>
    <li> Exam data sort (by date?) </li>
</ol>