@{
    ViewData["Title"] = "Cocktail";
}
<h1>@ViewData["Title"]</h1>

<button id="cocktailButton">Get A FREE Cocktail Recipe For Your Hard Work</button>
<h3 id="cocktailName">random kokteilis</h3>

<script src="~/js/cocktail.js"></script>