@{
    ViewData["Title"] = "Preparation";
}
<h1>@ViewData["Title"]</h1>

<div style="display: grid; grid-template-columns: 9fr 7fr;">
    <div>
    <input type="text" id="examName" placeholder="Exam name">
    <input type="date" id="examDate">
    <button onclick="createExam()">Add exam</button>
    <button id="downloadButton">Download exams</button>
    </div>
    <div style="text-align: right;">
    <label for="fileInput" id="browseButton" class="button-style">Browse</label>
    <input type="file" id="fileInput" style="display: none;">
    </div>
</div>
<div id="exam-grid"></div>
