h1 {
    font-weight: 400;
}

h3 {
    margin-top: 100px;
    margin-bottom: 30px;
}

#tutorial li {
    margin-left: 33%;
}

.carousel-caption {
    color:#111b33;
}
  
.carousel-item img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    border:#111b33 2px solid;
}
  
.carousel-item p {
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    opacity: 75%;
}
  
.carousel-item h5 {
    margin: 10px;
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}