@{
    ViewData["Title"] = "Reward";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/cocktail.css">
</head>

<button id="cocktailButton">Get A FREE Cocktail Recipe For Your Hard Work</button>
<h2 id="notEligibleMessage">You are not worthy of a cocktail, peasant</h2>
<div class="cocktail-card">
    <h2 id="cocktailName"></h2>
    <img id="cocktailImage" src="" alt="Cocktail Image">
    <h3>Ingredients</h3>
    <ul id="ingredientsList"></ul>
    <h3>Instructions</h3>
    <p id="instructions"></p>
</div>

<script src="~/js/cocktail.js"></script>