@{
    ViewData["Title"] = "Statistics";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/statistics.css">
</head>

<p id="lifetimeExams">Exams created:</p>
<p id="lifetimeFlashcards">Flashcards created:</p>
<p id="todayExams">Exams created today:</p>
<p id="todayFlashcards">Flashcards created today:</p>
<p id="todayChallengeHighscores">Challenge mode highscores achieved today:</p>
<p id="todayChallengeAttempts">Challenge mode attempts today:</p>
<br>
<table id="challengeHighscores">
    <thead>
        <tr>
            <th>Exam</th>
            <th>Highscore</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="~/js/statistics.js"></script>