@{
    ViewData["Title"] = "Statistics";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/statistics.css">
</head>

<div>
    <div id="lifetimeExams">Amount of exams ever created:</div>
    <div id="lifetimeFlashcards">Amount of flashcards ever created:</div>
    <div id="challengeHighscores">Challenge mode highscores:</div>
</div>

<script src="~/js/statistics.js"></script>