Requirements (Lab 3):
-1. Web service implemented and used.
-2. Entity Framework and "code-first" migrations usage.
3. An understanding of the difference between code/model/database first approaches.
-4. Usage of middleware and at least one interceptor.
5. Unit and integration tests coverage at least 50%.
// A "-" before requirement means it is done.