Requirements not achieved:
1. Relational database is used for storing data
-2. Create generic method, event or delegate; define at least 2 generic constraints
-3. Delegates usage
4. Create at least 1 exception type and throw it; meaningfully deal with it; (most of the exceptions are logged to a file or a server)
-5. Lambda expressions usage
6. Usage of threading via Thread class
-7. Usage of async/await
8. Use at least 1 concurrent collection or Monitor
-9. Regex usage
10. No instances are created using 'new' keyword, dependency injection is used everywhere
11. Unit and integration tests coverage at least 20%
// (Place "-" before requirement if it is done.)